## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.10,-79.24,39.99,60,1,12.75,clear sky
1,1,Luderitz,NaN,-26.65,15.16,66.20,68,0,17.22,clear sky
2,2,Arraial Do Cabo,BR,-22.97,-42.03,78.80,74,0,19.46,clear sky
3,3,Urumqi,CN,43.80,87.60,28.40,74,90,8.95,mist
4,4,Port Alfred,ZA,-33.59,26.89,64.80,84,22,10.09,light rain

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
max_temp = float(input('What would be the desired maximum temperature of your destination?'))
min_temp = float(input('What would be the desired minimum temperature of your destination?'))

What would be the desired maximum temperature of your destination?90
What would be the desired minimum temperature of your destination?80

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
chosen_cities = city_data_df.loc[(city_data_df['Max Temp'] > min_temp) & (city_data_df['Max Temp'] <= max_temp)]
chosen_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Puerto Madero,MX,14.72,-92.42,87.80,58,40,9.17,scattered clouds
21,21,Hithadhoo,MV,-0.60,73.08,81.82,73,68,9.22,broken clouds
26,26,Ko Samui,TH,9.54,99.94,81.54,73,26,9.10,moderate rain
36,36,El Tarra,CO,8.58,-73.09,81.61,76,100,2.13,moderate rain
39,39,Port-Gentil,GA,-0.72,8.78,80.60,83,20,6.93,few clouds
...,...,...,...,...,...,...,...,...,...,...
642,642,Alegrete,BR,-29.78,-55.79,88.61,65,100,5.28,light rain
650,650,Pital,CO,2.27,-75.80,81.34,57,54,3.47,light rain
653,653,Cockburn Town,TC,21.46,-71.14,80.60,57,20,6.93,few clouds
656,656,Linden,GY,6.00,-58.30,86.00,70,40,11.41,scattered clouds
662,662,Anloga,GH,5.79,0.90,80.60,83,20,6.93,few clouds

In [20]:
# 4a. Determine if there are any empty rows.
chosen_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#N/A

In [44]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = chosen_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Puerto Madero,MX,87.80,scattered clouds,14.72,-92.42,
21,Hithadhoo,MV,81.82,broken clouds,-0.60,73.08,
26,Ko Samui,TH,81.54,moderate rain,9.54,99.94,
36,El Tarra,CO,81.61,moderate rain,8.58,-73.09,
39,Port-Gentil,GA,80.60,few clouds,-0.72,8.78,
52,Butaritari,KI,81.93,light rain,3.07,172.79,
53,Alice Springs,AU,87.80,overcast clouds,-23.70,133.88,
56,Lorengau,PG,82.58,heavy intensity rain,-2.02,147.27,
66,Vaini,TO,80.60,few clouds,-21.20,-175.20,
70,Lotofaga,WS,86.00,broken clouds,-13.98,-171.86,

In [45]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [46]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Puerto Madero,MX,87.80,scattered clouds,14.72,-92.42,Hotel La Central
21,Hithadhoo,MV,81.82,broken clouds,-0.60,73.08,Scoop Guest House
26,Ko Samui,TH,81.54,moderate rain,9.54,99.94,"The Passage Samui Villas & Resort, Thailand"
36,El Tarra,CO,81.61,moderate rain,8.58,-73.09,TOS.corp
39,Port-Gentil,GA,80.60,few clouds,-0.72,8.78,Fengshui Residence
...,...,...,...,...,...,...,...
642,Alegrete,BR,88.61,light rain,-29.78,-55.79,Hotel Alegrete
650,Pital,CO,81.34,light rain,2.27,-75.80,Finca el Rebaño Vida el Uvital
653,Cockburn Town,TC,80.60,few clouds,21.46,-71.14,Osprey Beach Hotel
656,Linden,GY,86.00,scattered clouds,6.00,-58.30,Crimson Bat Hotel
662,Anloga,GH,80.60,few clouds,5.79,0.90,Pin Drop Hotel

In [66]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df = hotel_df.replace(r'^\s*$', np.NaN, regex=True)
hotel_df.dropna(axis=0, subset=['Hotel Name'], inplace=True)
hotel_df.tail(20)
clean_hotel_df = hotel_df.copy()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Puerto Madero,MX,87.80,scattered clouds,14.72,-92.42,Hotel La Central
21,Hithadhoo,MV,81.82,broken clouds,-0.60,73.08,Scoop Guest House
26,Ko Samui,TH,81.54,moderate rain,9.54,99.94,"The Passage Samui Villas & Resort, Thailand"
36,El Tarra,CO,81.61,moderate rain,8.58,-73.09,TOS.corp
39,Port-Gentil,GA,80.60,few clouds,-0.72,8.78,Fengshui Residence
...,...,...,...,...,...,...,...
642,Alegrete,BR,88.61,light rain,-29.78,-55.79,Hotel Alegrete
650,Pital,CO,81.34,light rain,2.27,-75.80,Finca el Rebaño Vida el Uvital
653,Cockburn Town,TC,80.60,few clouds,21.46,-71.14,Osprey Beach Hotel
656,Linden,GY,86.00,scattered clouds,6.00,-58.30,Crimson Bat Hotel
662,Anloga,GH,80.60,few clouds,5.79,0.90,Pin Drop Hotel

In [67]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [75]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} ºF</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [76]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df['Max Temp']
temps = [max(temp, 0) for temp in max_temp]
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
!git status
!git add .
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   ../.DS_Store
	modified:   ../Weather_Database/Weather_Database.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	./
	../WeatherPy_Database2.csv

no changes added to commit (use "git add" and/or "git commit -a")